
<div class="spot-savor-dashboard">
  <%= render '/shared/secondary_nav', 
    nav_bar_content: "",
    resy_index_button: true,
    create_resy_button: true,
    nav_bar_content_class: "",
    nav_bar_insights: true
  %>
    
  <section class="upcoming-reservations">
    <div class="text-center mb-2 mt-5 upcoming-reservations-header">
      <div>  
        <h2 class="d-sm-inline align-middle fs-5"><strong>Upcoming Reservations</strong></h2>
      </div>
    </div>
    <div class="upcoming-reservations-list mb-3">
      <% @reservations.upcoming_reservations.each do |reservation| %>
        <div class='reservation-item mx-5' id="reservation-<%= reservation.id %>">
          <ul class="list-group">
            <li class="list-group-item d-flex list-group-item-action align-items-center mb-3">
              <div class="d-flex flex-column align-items-center w-100">
                <div class="fw-bold fs-6 mb-2">
                  <%= link_to reservation.name, reservation_path(reservation.id), class: 'text-decoration-none text-primary fw-bold' %>
                </div>
                <div class="reservation-details row text-center">
                  <div class="col-md-auto mb-1">
                    Party Count: <%= reservation.party_count %>
                  </div>
                  <div class="col-md-auto mb-1">
                    Reservation Date: <%= format_date(reservation.start_time) %>
                  </div>
                  <div class="col-md-auto mb-1">
                    Reservation Time: <%= format_time(reservation.start_time) %>
                  </div>
                  <div class="col-md-auto mb-1">
                    Table <%= reservation.table.id %>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </section>
  <section class="spot-savor-insights">
    <div class="container-fluid mt-5">
      <div class="row">
        
        <%= render 'insights_card', 
        method: "#{@reservations.weekend_watchout}%", 
        insights_title: 'Weekend Watchout',
        insights_message: 'of your reservations are on Friday, Saturday, or Sunday',
        insights_description: 'Weekends bring in big money! Keep track of your weekend reservations.' %>
      
      
        <%= render 'insights_card', 
        method: reservation_rush_times(@reservations.reservation_rush), 
        insights_title: 'Reservation Rush',
        insights_message: 'are the most popular times of day to dine at your restaurant',
        insights_description: 'Uncover the Most Popular Times for Dining!' %>
        
      </div>
  </section>
</div>



